@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    background-image: url('../assets/food-background2.png');
    background-size: cover;
}

.container {
    background-color: rgba(256,256,256,.8);
}

.results-main{
    background-color: white;
    
}

main {
    clear: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  .instructions {
    border-radius: 15px;
    background-color:rgba(0, 128, 0, 0.8);
    height: var(--header-height);
    box-shadow: var(--shadow);
    font-size: 1.3rem;

    padding: 4px;
    box-shadow: 2px 2px 4px;
    margin-bottom: 8px;

    position: relative;
    border-radius: 10px;
    text-align: center;
    font-family: Roboto;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

  }

button {
    font-family: Roboto;
    padding: 10px;
    border: 2px solid green;
    color: green; 
    border-radius: 15px;
    background: rgba(256,256,256,.8);
    transition-property: background-color;
    transition-duration: 450ms; 
    margin: 5px;
    width: 120px;
}
button:hover{
    background-origin: transparent;
    background: green;
    color: white;
}

button:focus{
    background-origin: transparent;
    background: green;
    color: white;
}

button:active{
    background-origin: transparent;
    background: green;
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.between-charts{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    color: green;
}

input{
    height: 1.8rem;
    font-size: 1rem;
    transition: border 400ms linear;
    transition: box-shadow 400ms;
}


input:focus{
    border: 3px white solid;
    box-shadow : 0 10px 50px 0 rgba(0, 128, 0, 0.8);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    transition: background-color 900ms linear;
  }
  
  /* Modal Content/Box */
  .modal-content {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9rem;
    border-radius: 25px;
    background-color: #fefefe;
    /* background-color: #b4dc7c; */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal:hover {
    background-color: rgba(59, 161, 216, 0.4); /* Black w/ opacity */;
  }
  
  /* The Close Button */
  .close {
    color: green;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration:var(--shadow);
    cursor: pointer;
  }

  #to-food-log {
      margin-top: 5px;
  }
  .the-main{
      height: 100vh;
  }
