@import url('https://css.gg/push-chevron-right-o.css');

.food-image{
    height: 5rem;
}
.food-facts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}
.food-list-item{
    font-family: Roboto;
    font-weight: 500;
    display: flex;
    margin: 8px;
    transition: 200ms ease-in-out;
}
.food-list-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.food-div{
    width: 55%;
    overflow: scroll;
    height: 100vh;
}
.food-list{
    width: 92%;
    position: relative;
    margin: 0 auto;
}

.form-div {
    position: absolute;
    left: -300px;
    transition: left 750ms linear 100ms;
    background-color: transparent;
    display: flex;
    margin-top: 20px;
}

.form-div select{
    margin: 5px;
}

.form-div input{
    padding: 10px;
    margin: 5px;
}

.hover-header{
    position: relative;
    background-color: transparent;
    left: 165px;
    bottom: 30px;
}

.form-div:active{
    left: 10px;
}


.arrow{
    margin-left: 10px;
    width: 50px;
    font-size: 2rem;
}

.sidebar {
    position: absolute;
    width: 300px;
    height: 50%;
    left: -300px;
    transition: left .8s;
}

.active {
    left: 10px;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 20px;
    left: 310px;
}

.toggle-btn span {
    border: 2px solid green;
    color: green;
    border-radius: 10px;
    display: block;
    margin-top: 4px;
    font-family: Roboto;
    text-align: center;
}

.formHeader {
    text-align: center;
    font-weight: bold;
}

.food-form {
    text-align: center;
    height: 450px;
}
.search-div {
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
}

.wide{
    width: 58%;
}
 
button{
    font-size: 14px;
    height: 60px;
    margin-top: 5px;
} 

.clear-search{
    position: relative;
    top: 10px;
    height: 15px;
}