.food-image{
    height: 3rem;
}
.food-facts{
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    font-size: 1rem;
}
.food-list-item{
    display: flex;
    margin: 8px;
}
.food-div{
    width: 80%;
}